* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
}

p {
  font-size: 28px;
}

.orange-color {
  color: orange;
}

.paragraph {
  color: green;
}

#paragraph {
  color: red;
}

.pink-color {
  color: pink;
}

.container-one,
.container-two {
  color: black;
  font-size: 28px;
}

.container-one p {
  color: blue;
  font-size: 12px;
  border-bottom: 2px solid black;
}

.container-two p {
  color: purple;
  font-size: 15px;
  border-bottom: 1px solid black;
}

.container-one p,
.container-two p,
.container-one.container-two p {
  margin-left: 10px;
}

.container-two p span {
  color: gray;
  font-size: 12px;
}

.container-one.container-two p {
  color: purple;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 1px sokid black;
}

section.container-one.container-two p,
section.container-one.container-two span {
  color: orange;
  font-size: 28px;
}
