.orange{
color: orange;
font-size: 28px;
}
.paragraph {
    color: green;
    font-size: 28px;
}
#paragraph {
    color: red;
    font-size: 28px;
}

h1,h2,h3,h4{
    color: pink;
}

.container-one{
    font-size: 28px;
}

.container-one > p{
    margin-left: 10px;
    border-bottom: 2px;
    font-size: 12px;
}
.container-one > p > span{
    color: blue;
}

.container-two{
    font-size: 28px;
}

div:nth-of-type(3) > p:nth-of-type(1){
    color: purple;
    font-size: 15px;
    margin-left: 10px;
    border-bottom: black 1px;
}
.container-two > p:nth-of-type(1) > span{
    color: grey;
    font-size: 12px;
}

div:nth-of-type(4) > p:nth-of-type(1){
    color: purple;
    font-size: 10px;
    margin-left: 10px;
    border-bottom: black 1px;
    font-weight: bold;
    text-transform: uppercase;
}

section:nth-of-type(1) > p:nth-of-type(1) > span {
    color: orange;
    font-size: 28px;
}