body p{
    color: orange;
    font-size: 28px;
}

.paragraph {
    color: green;
    font-size: 28px;
}

#paragraph {
    color: red;
    font-size: 28px;
}

h1, h2, h3, h4 {
    color: pink;
}

.container-one {
    color: black;
    font-size: 28px;
}

.container-one p {
    color: blue;
    font-size: 12px;
    margin-left: 10px;
    border-bottom: solid 2px black;
}

.container-two span {
    font-size: 28px;
}

.container-two p {
    color: purple;
    font-size: 15px;
    margin-left: 10px;
    border-bottom: solid 1px black;
}

.container-two p span{
    color: grey;
    font-size: 12px;
}

.container-one.container-two p{
    color: purple;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 10px;
    border-bottom: solid 1px black;
}

section.container-one.container-two p{
    all: initial;
}

.container-one.container-two p span{
    color: orange;
    font-size: 28px;
}