p{
    color: orange;
    font-size: 28px;
}

.paragraph{
    color: green;
    font-size: 28px;
}

#paragraph{
    color: red;
    font-size: 28px;
}
h1, h2, h3, h4{
    color: pink;
}
.container-one{
    font-size: 28px;
}
.container-one p{
    color: blue;
    font-size: 12px;
    margin-left: 10px;
    border-bottom: solid black 2px;
}
.container-two > span{
    font-size: 28px;
}
.container-two p{
    color: purple;
    font-size: 15px;
    margin-left: 10px;
    border-bottom: solid black 1px;
}
.container-two p span{
    color: grey;
    font-size: 12px;
}
.container-one, container-two :nth-of-type(2){
    color: purple;
    font-size: 10px;
    text-transform: uppercase;
    margin-left: 10px;

}

section.container-one.container-two p,
section.container-one.container-two span{
    color: orange;
    font-size: 28px;
    text-transform: capitalize;
    border-bottom: none;
    font-weight: normal;
}